@import 'variables';

.readonly {
    background-color: transparent !important;
    border: none !important;
    margin-top: 6px;
    margin-bottom: 30px !important;
    font-size: 15px !important;
    font-weight: 900;
    line-height: 20px;
    padding: 0 !important;;
}

.img {
    margin-bottom: 15px;
    padding: 10px 15px;
}

.custom-form {
    .input-checkbox {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding: 10px 15px;
        background-color: $color-dark-bg;
        border: none;
        outline: none;
        color: $color-regular;
        font-size: 13px;
        border-radius: 25px;        
    }    
    .input-checkbox>label{
        position: relative;
        margin-left: 3px;
        top: -2px;
    }
}