<div class="wrapper">
      <ng-scrollbar [trackX]="false" [autoHide]="false">
            <div class="page-content">

                  <div class="table">
                        <div class="table-header">
                              <div class="flex align-items-center justify-content-between">
                                    <button class="button green small new" (click)="addPlace()"><i class="fas fa-plus"></i><span>Nuevo</span></button>
                                    <filter-table #filter [cols]="cols"></filter-table>
                              </div>
                        </div>
                        <div class="table-body">
                              <table-row-header [cols]="cols" [collection]="listItems"></table-row-header>
                              <div class="scroll-container">
                                    <div *ngFor="let local of listItems | search: filter.searchBox: filter.selection">
                                          <app-table-row (click)="seeDetails(local.idLocal)" (edit)="editItem(local.idLocal, {route: route.parent, event: $event})"
                                                (delete)="deleteItem(local.idLocal, $event)">
                                                <div class="table-col-group">
                                                      <div class="table-col">{{ local.tituloMarca }}</div>
                                                      <div class="table-col">{{ local.nombreDepartamento }}</div>
                                                      <div class="table-col"><label class="address">{{ local.direccion }}</label></div>
                                                </div>
                                          </app-table-row>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>

      </ng-scrollbar>
      <router-outlet class="side-bar"></router-outlet>
</div>
