@import 'components/table';


.table-col{
    position: relative;
    .address {
        position: absolute;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;        
    }
}