@import 'lib/flex';
@import 'variables';

::ng-deep .filter {
      margin-right: 15px;
      width: 110px;

      .mat-form-field-wrapper {
            padding-bottom: 0 !important;
      }

      .mat-form-field-label-wrapper {
            display: none;
      }

      .mat-form-field-underline {
            display: none !important;
      }

      .mat-form-field-infix {
            border-top: 0 !important;
            padding: 0 !important;
      }

      .mat-select {
            height: 30px;
            padding: 3px 7px 3px 12px;
            background-color: $color-dark-bg;
            border-radius: 25px;
      }

      .mat-select-trigger {
            @extend %flex,
            %align-items-center;
            height: 100%;
      }

      .mat-select-value {
            display: block;
            max-width: 100%;
            width: 100%;
            overflow: visible;
            text-overflow: unset;
      }

      .mat-select-placeholder,
      .mat-select-value-text {
            color: $color-regular !important;
            -webkit-text-fill-color: $color-regular !important;
            font-size: 13px !important;
      }

      .mat-select-arrow {
            color: $color-regular !important;
      }
}

.search {
      height: 30px;
      padding: 3px 7px 3px 12px;
      background-color: $color-dark-bg;
      border-radius: 25px;
      @include prefix(transition, border-color .1s ease-out);

      button {
            border: none;
            background-color: transparent;
            outline: none;
            color: $color-dark-grey;
            cursor: pointer;
            @include prefix(transition, color .1s ease-out);
      }

      input {
            width: 140px;
            border: none;
            background: none;
            outline: none;
            color: $color-regular;
            font-size: 13px;
            @include prefix(transition, width .1s ease-out);
      }

      &:focus-within {

            button {
                  color: $color-regular;
            }

            input {
                  width: 190px;
            }
      }

}

@include placeholder {
      color: $color-regular;
}
