@import 'variables';

.dialog{
        position: relative;
        margin-top: 30px;
        padding: 15px;
        background-color: $color-light-blue;
        &.zero-top{
              margin-top: 0;
        }
        &:before{
              content: '';
              position: absolute;
              top: -8px;
              right: 0;
              border: solid 4px transparent;
              border-bottom: solid 4px $color-light-blue;
              border-right: solid 4px $color-light-blue;
        }
        .text{
              font-size: 15px;
              color: #fff;
        }
  }