.readonly {
      background-color: transparent !important;
      border: none !important;
      margin-top: 6px;
      margin-bottom: 30px;
      font-size: 15px !important;
      font-weight: 900;
      line-height: 20px;
      padding: 0 !important;
}

.img {
      margin-top: 5px;
      margin-bottom: 15px;
      border-radius: 50%;
      width: 77px;
      height: 77px;
}
