<app-side-bar [showEditButton]="false" [showDeleteButton]="false" [showCloseDialog]="!this.benefitGroup.pristine">

      <div header>
            <h3 class="title">Añadir Beneficio</h3>
      </div>

      <div body>
            <div class="scroll-content">
                  <form class="custom-form dark" [formGroup]="benefitGroup">
                        <label for="">
                              <span class="label required">Marca</span>
                              <app-auto-complete [required]="true" *ngIf="benefitGroup.get('marca')" [outerGroup]="benefitGroup.get('marca')"
                                    [autocompleteData]="autoCompleteBranchData" placeholder="Marca" [fcName]="'id'">
                              </app-auto-complete>
                        </label>
                        <form-input [formControl]="benefitGroup.controls['tituloLargo']" label="Título" [required]="true"></form-input>
                        <label for="">
                              <span class="label required">Tipo de Beneficio</span>
                              <app-auto-complete [required]="true" *ngIf="benefitGroup.get('tipoBeneficio')"
                                    [outerGroup]="benefitGroup.get('tipoBeneficio')" [autocompleteData]="autoCompleteTipoData"
                                    placeholder="Tipo de Beneficio" [fcName]="'id'">
                              </app-auto-complete>
                        </label>
                        <label for="">
                              <span class="label required">Categorías de Beneficio</span>
                              <multi-auto-complete [autocompleteData]="autoCompleteCategoryData" [selectedData]="selectedData"
                                    (change)="updateData($event)" [required]="true"></multi-auto-complete>
                        </label>
                        <label for="">
                              <span class="label required">Imagen</span>
                              <app-image-upload (onFileUpload)="setImage($event)" [rounded]="false"></app-image-upload>
                        </label>
                  </form>
            </div>
      </div>

      <div footer>
            <button [disabled]="benefitGroup.invalid || !benefitGroup.get('categorias').value[0].id" class="button green small"
                  (click)="addBenefit(benefitGroup.value)">Guardar</button>
      </div>

</app-side-bar>
