@import "variables";

.readonly {
      background-color: transparent !important;
      border: none !important;
      margin-top: 6px;
      margin-bottom: 30px !important;
      font-size: 15px !important;
      font-weight: 900;
      line-height: 20px;
      padding: 0 !important;;
  }