<app-side-bar (onEdit)="edit()" (onDelete)="delete(benefitCategory.id, $event)">

      <div header>
            <h3 class="title">Detalles de {{ benefitCategory?.tituloLargo }}</h3>
      </div>

      <div body>

            <div class="scroll-content">
                  <div class="details">
                        <div class="item">
                              <span class="title">Titulo</span>
                              <p class="descripcion">
                                    {{ benefitCategory?.tituloLargo }}
                              </p>
                        </div>
                  </div>
            </div>
      </div>

</app-side-bar>
